.header__li {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin: 0 15px;

    &:hover {
        color: rgb(214, 214, 214);
    }
}

.header__SignIn {
    width: 100px;
    height: 40px;
    background-color: green;
    border-radius: 20px;

    &:hover {
        background-color: aqua;
        cursor: pointer; 
    }

    &:active {
        
    }
}

.header__SignUp {
    width: 100px;
    height: 40px;
    background-color: rgb(200, 255, 0);
    border-radius: 20px;

    &:hover {
        background-color: aqua;
        cursor: pointer; 
    }

    &:active {
        background-color: rgb(0, 183, 183);
    }
}

