@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=Montserrat&display=swap');

@mixin textFont {
    font-family: 'M PLUS 1 Code', monospace;
    font-family: 'Montserrat', sans-serif;

}
body {
    margin: 0;
    padding: 0;
    @include textFont;
    height: 100vh;
    background-color: red;
}

